.cards-main {
     align-content: center;
     display: grid;
     gap: 4rem;
     min-height: 100vh;
     width: 100%;
     padding: 2rem;
}

.cards-header {
     display: grid;
     gap: 1rem;
     place-content: center;
     place-items: center;
}

.cards-header h1 {
     font-weight: 200;
     text-align: center;
     max-width: 30rem;
}

.cards-header p {
     max-width: 32rem;
     text-align: center;
}