@media (max-width: 40rem) {
     .cards-header h1 {
          font-size: 1.7rem;
          max-width: 25rem;
     }

     .cards-header p {
          font-size: 0.90rem;
          max-width: 18rem;
     }

     .cards-main {
          padding: 4rem 2rem;
     }
}